<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="monsterLive"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="playerLive"></div>
        </div>
      </section>
      <section class="container" v-if="result">
        <h2>Game Over!</h2>
        <h2 v-if="result === 'win'">HAS GANADO</h2>
        <h2 v-else-if="result === 'lost'">HAS PERDIDO</h2>
        <h2 v-else>HAS EMPATADO</h2>
        <button @click="startGame">Juega otra partida</button>
      </section>
      <section id="controls" v-else>
        <button @click="attackMonster">ATTACK</button>
        <button :disabled="buttonSpecialAttackDisabled" @click="specialAttack">SPECIAL ATTACK</button>
        <button @click="heal">HEAL</button>
        <button @click="surrender">SURRENDER</button>
      </section>
      <section id="log" class="container">
        <p>Round: {{ rounds }}</p>
        <ul>
          <li v-for="(log, i) in message">
            <div>
              <span :class="{'log--player': log.by === 'player', 'log--monster': log.by === 'monster'}"> {{ log.by === "player" ? "Player" : "Monster" }} 
              </span>
              <span v-if="log.type === 'heal'"> 
                heal:
                <span class="log--heal"> {{ log.action }}</span>
              </span>
              <span v-else>
                attacks:
                <span class='log--damage'> {{ log.action }}</span>
              </span>
              <span v-if="log.by === 'monster' && message.length !== i +1">
                <p>-------------------</p> 
              </span>
            </div>
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
